 <%= form_for @education, url: user_profile_education_path, html: { multipart: true } do |f| %>
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, class:"form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :institute %>
                    <%= f.text_field :institute, class:"form-control" %>
                </div>
               
                
                <div class="form-group">
                    <%= f.label :year_of_graduation %>
                    <%= f.number_field :year_of_graduation, class:"form-control" %>
                </div>

                <div class="form-group">
                    <%= f.submit "Update", class: "btn btn-primary" %>
                </div>
            <% end %>